{
	"TargetName": "EpicWebHelper",
	"Platform": "Linux",
	"Configuration": "Shipping",
	"TargetType": "Program",
	"IsTestTarget": false,
	"Architecture": "x64",
	"Project": "../../Otter.uproject",
	"Launch": "$(EngineDir)/Binaries/Linux/EpicWebHelper",
	"Version": 
	{
		"MajorVersion": 5,
		"MinorVersion": 3,
		"PatchVersion": 0,
		"Changelist": 0,
		"CompatibleChangelist": 0,
		"IsLicenseeVersion": 0,
		"IsPromotedBuild": 0,
		"BranchName": "UE5",
		"BuildId": "6c10158e-f990-47ef-be47-c5afc0fcb685"
	},
	"BuildProducts": [
		{
			"Path": "$(EngineDir)/Binaries/Linux/EpicWebHelper",
			"Type": "Executable"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/EpicWebHelper.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/EpicWebHelper.sym",
			"Type": "SymbolFile"
		}
	],
	"RuntimeDependencies": [
		{
			"Path": "$(ProjectDir)/Otter.uproject",
			"Type": "UFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/chrome_100_percent.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/chrome_200_percent.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/icudtl.dat",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/am.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/ar.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/bg.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/bn.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/ca.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/cs.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/da.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/de.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/el.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/en-GB.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/en-US.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/es-419.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/es.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/et.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/fa.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/fi.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/fil.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/fr.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/gu.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/he.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/hi.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/hr.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/hu.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/id.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/it.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/ja.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/kn.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/ko.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/lt.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/lv.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/ml.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/mr.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/ms.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/nb.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/nl.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/pl.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/pt-BR.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/pt-PT.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/ro.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/ru.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/sk.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/sl.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/sr.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/sv.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/sw.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/ta.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/te.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/th.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/tr.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/uk.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/vi.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/zh-CN.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/locales/zh-TW.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/Resources/resources.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/icudtl.dat",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/libEGL.so",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/libGLESv2.so",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/libcef.so",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/snapshot_blob.bin",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/swiftshader/libEGL.so",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/swiftshader/libGLESv2.so",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Linux/v8_context_snapshot.bin",
			"Type": "NonUFS"
		}
	],
	"AdditionalProperties": [
		{
			"Name": "SDK",
			"Value": "Not Applicable"
		}
	]
}