{
	"TargetName": "UnrealLightmass",
	"Platform": "Linux",
	"Configuration": "Development",
	"TargetType": "Program",
	"IsTestTarget": false,
	"Architecture": "x64",
	"Project": "../../Otter.uproject",
	"Launch": "$(EngineDir)/Binaries/Linux/UnrealLightmass",
	"Version": 
	{
		"MajorVersion": 5,
		"MinorVersion": 2,
		"PatchVersion": 1,
		"Changelist": 0,
		"CompatibleChangelist": 25360045,
		"IsLicenseeVersion": 0,
		"IsPromotedBuild": 0,
		"BranchName": "UE5",
		"BuildId": "c3b8d892-207b-4c99-9ec1-f17bff1f3e1b"
	},
	"BuildProducts": [
		{
			"Path": "$(EngineDir)/Binaries/Linux/AgentInterface.dll",
			"Type": "RequiredResource"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/UnrealLightmass",
			"Type": "Executable"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/UnrealLightmass.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/UnrealLightmass.modules",
			"Type": "RequiredResource"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/UnrealLightmass.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/UnrealLightmass.version",
			"Type": "RequiredResource"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-ApplicationCore.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-ApplicationCore.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-ApplicationCore.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-BuildSettings.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-BuildSettings.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-BuildSettings.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Cbor.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Cbor.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Cbor.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Core.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Core.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Core.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-CoreUObject.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-CoreUObject.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-CoreUObject.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-DerivedDataCache.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-DerivedDataCache.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-DerivedDataCache.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Json.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Json.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Json.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Messaging.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Messaging.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Messaging.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-NetCommon.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-NetCommon.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-NetCommon.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Networking.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Networking.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Networking.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Projects.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Projects.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Projects.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-SSL.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-SSL.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-SSL.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Serialization.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Serialization.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Serialization.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Sockets.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Sockets.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Sockets.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-SwarmInterface.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-SwarmInterface.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-SwarmInterface.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-TraceLog.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-TraceLog.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-TraceLog.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Zen.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Zen.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealLightmass-Zen.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Plugins/Messaging/UdpMessaging/Binaries/Linux/UnrealLightmass.modules",
			"Type": "RequiredResource"
		},
		{
			"Path": "$(EngineDir)/Plugins/Messaging/UdpMessaging/Binaries/Linux/libUnrealLightmass-UdpMessaging.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Plugins/Messaging/UdpMessaging/Binaries/Linux/libUnrealLightmass-UdpMessaging.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Plugins/Messaging/UdpMessaging/Binaries/Linux/libUnrealLightmass-UdpMessaging.sym",
			"Type": "SymbolFile"
		}
	],
	"RuntimeDependencies": [
		{
			"Path": "$(ProjectDir)/Otter.uproject",
			"Type": "UFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/AgentInterface.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/Intel/Embree/Embree270/Linux/x86_64-unknown-linux-gnu/lib/libembree.so",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/Intel/Embree/Embree270/Linux/x86_64-unknown-linux-gnu/lib/libembree.so.2",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/Intel/TBB/Linux/libtbb.so",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/Intel/TBB/Linux/libtbb.so.2",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Plugins/Messaging/UdpMessaging/UdpMessaging.uplugin",
			"Type": "UFS"
		}
	],
	"AdditionalProperties": [
		{
			"Name": "SDK",
			"Value": "Not Applicable"
		}
	]
}